.manager-page-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  background-color: #ffffff;
}

.manager-page-content {
  margin-left: 200px; /* Adjust margin to accommodate sidebar */
  padding: 20px;
  width: calc(100% - 200px); /* Adjust width to account for sidebar */
  overflow-y: auto; /* Enable vertical scrolling */
}

.manager-page-content h1 {
  font-size: 2em; /* Larger font size for headings */
  color: #2c3e50; /* Darker color for headings */
}

.manager-page-content h2 {
  font-size: 1.5em; /* Adjusted font size for subheadings */
  color: #2c3e50; /* Darker color for headings */
}

.manager-page-content h3 {
  font-size: 1.5em; /* Adjusted font size for subheadings */
  color: #2c3e50; /* Darker color for headings */
}

.manager-page-content label {
  font-size: 1.5em; /* Adjusted font size for subheadings */
  color: #2c3e50; /* Darker color for headings */
}

.manager-page-content p {
  font-size: 1.2em; /* Slightly larger font size for text */
}

.manager-page-content ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

.manager-page-content li {
  background-color: #fff; /* White background for list items */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px; /* Rounded corners for list items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for list items */
}

.manager-page-content li p {
  margin: 5px 0;
}

.manager-page-content li {
  color: #000;
}

.filter-controls {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between controls */
  margin-bottom: 20px;
}

.filter-controls label {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: #2c3e50;
  margin-right: 10px;
}

.filter-controls select,
.filter-controls input[type="date"] {
  width: 150px; /* Equal width for select and date input */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-controls .filter-input {
  width: 150px; /* Equal width for all inputs */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chart-container {
  width: 80%; /* Adjust the width percentage as needed */
  height: 60vh; /* Adjust the height percentage as needed */
  max-width: 800px; /* Optional: Set a maximum width */
  max-height: 600px; /* Optional: Set a maximum height */
  margin: 0 auto; /* Center the charts */
  display: flex;
  justify-content: center;
  align-items: center;
}

.export-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.export-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.export-button:hover {
  background-color: #0056b3;
}
