/* Footer.css */
.Footer {
    background-color: #20232a;
    color: #61dafb;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Footer a {
    color: #61dafb;
    text-decoration: none;
  }
  
  .Footer a:hover {
    text-decoration: underline;
  }
  