
.bet-history-container {
  padding: 20px;
  background-color: #f4f4f9;
  min-height: 100vh; /* Adjust this for minimum height instead of fixed height */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bet-history-list {
  list-style: none;
  padding: 0;
}

.bet-history-list li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bet-history-list li p {
  margin: 5px 0;
}

p {
  color: black;
}

.back-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #218838;
}

.istoric-link {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.istoric-link:hover {
  background-color: #0056b3;
}

.filters2 {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters2 label {
  display: flex;
  flex-direction: column;
}

.filters2 select,
.filters2 input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

